*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    min-height: 100v;
    background: linear-gradient(135deg, #153677, #4E085F); 
    padding: 10px;
    /* margin: 0 auto; */
}
.title{
    display: flex;
    justify-content: center;
    color: #dfe4ea;
    margin-top: 25px;
    .t1::first-letter,.t2::first-letter{
        color: #fbc531;
        font-size: 70px;
    }
}



@media screen and (min-width: 1024px) {
    .container{
        width: 750px;
        margin: 0 auto;
    }
}
@media screen and (max-device-width: 480px){
    .conrainer{
        width: 574px;
        margin: 0;
    }
}
.to-do-app{
    width: 100%;
    background: #607d8b3d;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    & h2 {
        color: #0fb9b1;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        & img{
            width: 30px;
            margin-left: 10px;
        }

    }
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    & input{
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        padding: 15px ;
        font-size: 25px;
    }
    & button{
        border: none;
        outline: none;
        padding: 16px 50px;
        background: #20bf6b;
        border-radius: 50px;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }
}

ul li{
    list-style: none;
    font-size: 18px;
    color: #edeef0;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid grey;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #ff5945;
    text-decoration: line-through;
}
ul li.checked::before{
    content: "\2713";
    color:#ff5945;
    font-weight: 900;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #ff5945;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background-color: #eb3b5a;
    border-radius: 20px;

}


